body {
    font-family: Arial, sans-serif;
    background-color: rgb(232, 238, 159);
    margin: 0;
    padding: 20px;
}
h1 {
    color: rgba(224, 12, 12, 0.923);
    font-size: 36px;
    margin: 20px 0;
    text-align: center;
}
p {
    font-size: 18px;
    line-height: 1.6;
    color: 
    rgb(215, 69, 7);
    text-align: center;
}
img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
img:hover {
    transform: rotate(360deg);
    transition: 3s;
}
h2 {
    color: rgb(118, 14, 14);
    font-size: 24px;
    margin: 20px 0;
    text-align: center;
}
button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: rgb(66, 62, 62);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: darkgrey;
    border: 1px solid white;
    transition: 2s;
    transform: scale(1.5);;
}